* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  height: 600px;
  width: 100%;
  background-image: url("../img/montain1.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  text-align: center;
  transition: background-image 0.5s ease-in-out;
}

.head {
  font-size: xx-large;
  padding: 20px 0 20px 0;
}
.headP {
  font-size: small;
  background-color: rgba(61, 63, 61, 0.5);
}
.headH {
  background-color: rgba(61, 63, 61, 0.5);
}

.controls {
  width: 100%;
  background-color: rgba(61, 63, 61, 0.5);
  height: 120px;
}

.controls input {
  height: 40px;
  width: 40px;
  margin: 10px;
  margin-top: 40px;
}

.section2 {
  height: 65%;
  background-color: rgba(29, 28, 28, 0.829);
  padding-top: 50px;
}

.img {
  display: flex;
  place-content: center;
}

.imgP {
  padding: 0;
}

.slider {
  text-align: center;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.imgSlider {
  height: 200px;
  width: 400px;
  margin: 20px;
  border: solid gray;
}

.controler-prev {
  margin: auto;
  cursor: default;
}
.controler-next {
  margin: auto;
  cursor: default;
}

.img2,
.img3 {
  display: none;
}
.section3 {
  background-color: rgba(29, 28, 28, 0.712);
}
.divImgRound {
  width: 100%;
}
.imgSlider {
  height: 200px;

  width: 50%;
  border: solid gray;
}

.roundImg {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: solid 12px rgb(59, 59, 59);
}

.imgRoundh1 {
  margin-bottom: 20px;
}
.imgRoundP {
  padding-right: 0;
  text-align: left;
}

.section4 {
  height: auto;
  background-color: rgb(182, 175, 175);
}

/*
* Accordion
*/
/* Basic Accordion Styles */
.accordion {
  padding: 50px 50px 50px 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.accordion input[name="panel"] {
  display: none;
}
.accordion label {
  position: relative;
  display: block;
  padding: 1em;
  background-color: gray;
  border-top: 1px solid #fff;
  box-shadow: inset 0 2px 0 #fff;
  font-size: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: white;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordion label:after {
  content: "\21A7";
  position: absolute;
  width: 1em;
  height: 1em;
  color: #eee;
  text-align: center;
  font-size: larger;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
.accordion label:hover {
  color: #27ae60;
}
.accordion input:checked + label {
  color: #222222;
  background-color: white;
}
.accordion input:checked + label:after {
  content: "\21A5";
  /* adjsut line-height to vertically center icon */
  line-height: 0.8em;
  color: #222222;
}
.accordion .accordion__content {
  overflow: hidden;
  height: 0px;
  position: relative;
  padding: 0 1.5em;
  background-color: white;
  color: gray;
  transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordion .accordion__content:not(:last-of-type) {
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25), inset 4px 0 0 0 #27ae60,
    inset 0 3px 6px rgba(0, 0, 0, 0.75);
}
.accordion .accordion__content .accordion__header {
  padding: 1em 0;
}
.accordion .accordion__content .accordion__body {
  font-size: 0.825em;
  line-height: 1.4em;
}

/* 
* Size Variations
*/
input[name="panel"]:checked ~ .accordion__content.accordion__content--small {
  height: 340px;
}
input[name="panel"]:checked ~ .accordion__content.accordion__content--med {
  height: 250px;
}

input[name="panel"]:checked ~ .accordion__content.accordion__content--large {
  height: 250px;
  text-align: center;
}

.imgAccordion {
  width: 280px;
  height: 200px;

  border: solid 10px gray;
}

.pAccordion {
  color: black;
  padding: 0%;
  margin-top: 15px;
}

#section5 {
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: block;
  text-align: center;

  background-color: #013a6b;
  background-image: -webkit-linear-gradient(103.4deg, #2b2b2b 50%, #6f6f6f 50%);
}

.inputMidle {
  display: inline;

  margin-left: auto;
  margin-right: auto;
}

.inputComent {
  height: 200px;
}

.full-input {
  display: inline-block;
  padding: 3px;
  background-color: #a7a6a6;
  margin-bottom: 20px;
  border-radius: 7px;
  font: message-box;
  width: 100%;
}
.formInput {
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;
  font-size: 14pt;
  background-color: #a7a6a6;
  color: white;
  width: -webkit-fill-available;
  height: 42px;
  margin: auto;
}

.formlabel {
  font-size: 20px;
  color: #333333;
  float: left;
  padding: 10px;
}

.inputName {
  width: 100%;
  margin-top: 50px;
}

.textarea {
  width: 100%;
  height: 150px;
  outline: none;
  resize: none;
}

.sendButton {
  height: 40px;
  width: 120px;
  background-color: white;
  border-radius: 7px;
  font: message-box;
  margin: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  text-align: center;
  height: auto;
  width: 100%;
  background-color: #333333;
  color: white;
  font-size: x-large;
}

/*Responsividade*/
@media screen and (min-width: 700px) {
  [class*="container"] {
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .headP {
    font-size: xx-large;
    background-color: rgba(61, 63, 61, 0);
  }
  .headH {
    background-color: rgba(61, 63, 61, 0);
  }
  .section2 {
    height: 50%;
    background-color: rgba(29, 28, 28, 0.829);
    padding-top: 50px;
  }

  .img {
    display: flex;
    place-content: center;
  }

  .imgP {
    padding: 10px 50px 0 50px;
  }

  .slider {
    text-align: center;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .imgSlider {
    height: 200px;
    width: 400px;
    margin: 20px;
    border: solid gray;
  }

  .controler-prev {
    margin: auto;
  }
  .controler-next {
    margin: auto;
  }

  .img2,
  .img3 {
    display: none;
  }

  .section3 {
    width: 100%;
    background-color: rgba(29, 28, 28, 0.712);
    padding: 100px;
  }
  .divImgRound {
    width: 20%;
    float: left;
  }
  .roundImg {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: solid 12px rgb(59, 59, 59);
  }
  .imgRoundh1 {
    margin-bottom: 20px;
  }
  . .imgRoundText {
    text-align: left;
  }
  /*
* Accordion
*/
  /* Basic Accordion Styles */
  .accordion {
    padding: 50px 50px 50px 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .accordion input[name="panel"] {
    display: none;
  }
  .accordion label {
    position: relative;
    display: block;
    padding: 1em;
    background-color: gray;
    border-top: 1px solid #fff;
    box-shadow: inset 0 2px 0 #fff;
    font-size: 1.5em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: white;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  }
  .accordion label:after {
    content: "\21A7";
    position: absolute;
    right: 1em;
    width: 1em;
    height: 1em;
    color: #eee;
    text-align: center;
    font-size: larger;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  }
  .accordion label:hover {
    color: #27ae60;
  }
  .accordion input:checked + label {
    color: #222222;
    background-color: white;
  }
  .accordion input:checked + label:after {
    content: "\21A5";
    /* adjsut line-height to vertically center icon */
    line-height: 0.8em;
    color: #222222;
  }
  .accordion .accordion__content {
    overflow: hidden;
    height: 0px;
    position: relative;
    padding: 0 1.5em;
    background-color: white;
    color: gray;
    transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  }
  .accordion .accordion__content:not(:last-of-type) {
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25), inset 4px 0 0 0 #27ae60,
      inset 0 3px 6px rgba(0, 0, 0, 0.75);
  }
  .accordion .accordion__content .accordion__header {
    padding: 1em 0;
  }
  .accordion .accordion__content .accordion__body {
    font-size: 0.825em;
    line-height: 1.4em;
  }

  /* 
* Size Variations
*/
  input[name="panel"]:checked ~ .accordion__content.accordion__content--small {
    height: 250px;
  }

  input[name="panel"]:checked ~ .accordion__content.accordion__content--med {
    height: 250px;
  }

  input[name="panel"]:checked ~ .accordion__content.accordion__content--large {
    height: 250px;
  }

  .imgAccordion {
    width: 280px;
    height: 200px;
    float: left;
    border: solid 10px gray;
  }

  .pAccordion {
    color: black;
    padding: 50px 0 0 300px;
  }

  #section5 {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: block;
    text-align: center;

    background-color: #013a6b;
    background-image: -webkit-linear-gradient(
      103.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }

  .inputMidle {
    display: inline;
    width: 741px;
    margin-left: auto;
    margin-right: auto;
  }

  .inputMail {
    margin-right: 30px;
  }

  .inputComent {
    height: 200px;
  }

  .full-input {
    display: inline-block;
    padding: 3px;
    background-color: #a7a6a6;

    border-radius: 7px;
    font: message-box;
    width: 39%;
  }
  .formInput {
    outline: none;
    border: none;
    display: block;
    line-height: 1.2em;
    font-size: 14pt;
    background-color: #a7a6a6;
    color: white;
    width: -webkit-fill-available;
    height: 42px;
    margin: auto;
  }

  .formlabel {
    font-size: 20px;
    color: #333333;
    float: left;
    padding: 10px;
  }

  .inputName {
    width: 80%;
    margin-top: 50px;
  }
  .divTextarea {
    display: inline-block;
    padding: 3px;
    background-color: #a7a6a6;

    border-radius: 7px;
    font: message-box;
    width: 80%;
    height: 200px;
    margin-bottom: 10px;
  }
  .textarea {
    width: 100%;
    height: 153px;
  }

  .sendButton {
    height: 40px;
    width: 120px;
    background-color: white;
    border-radius: 7px;
    font: message-box;
    margin: 20px;
  }

  .footer {
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #333333;
    color: white;
    font-size: xx-large;
  }
}

@media screen and (max-width: 1786px) {
  .insideImg3 {
    display: none;
  }
  .imgRoundP {
    padding-bottom: 40px;
  }
  .divImgRound {
    width: 100%;
    text-align: center;
  }
  #section5 {
    background-image: -webkit-linear-gradient(
      104.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
    height: auto;
  }
}

@media screen and (max-width: 1650px) {
  .imgRoundh1 {
    text-align: center;
  }
}
@media screen and (max-width: 1605px) {
  .insideImg2 {
    display: none;
  }
  .divImgRound {
    width: 100%;
    text-align: center;
  }
  .imgRoundText {
    text-align: center;
  }
  .imgRoundP {
    padding-bottom: 40px;
    text-align: center;
  }
  #section5 {
    background-image: -webkit-linear-gradient(107deg, #2b2b2b 56%, #6f6f6f 50%);
    height: auto;
  }
}

@media screen and (max-width: 1575px) {
  #section5 {
    background-image: -webkit-linear-gradient(106deg, #2b2b2b 50%, #6f6f6f 50%);
  }
}

@media screen and (max-width: 1426px) {
  #section5 {
    background-image: -webkit-linear-gradient(108deg, #2b2b2b 50%, #6f6f6f 50%);
  }
}

@media screen and (max-width: 1333px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      108.6deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 1210px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      110.6deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 1174px) {
  #section5 {
    background-image: -webkit-linear-gradient(111deg, #2b2b2b 50%, #6f6f6f 50%);
  }
}

@media screen and (max-width: 1150px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      111.6deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 1045px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      113.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 980px) {
  .insideImg3 {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      115.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 870px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      117.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}
@media screen and (max-width: 800px) {
  .pAccordion {
    color: black;
  }
  .accordion {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .imgAccordion {
    width: 280px;
    height: 200px;

    border: solid 10px gray;
  }
  .section4 {
    height: auto;
    background-color: rgb(182, 175, 175);
  }
  #section5 {
    background-image: -webkit-linear-gradient(146deg, #2b2b2b 50%, #6f6f6f 50%);
    height: auto;
  }
}
@media screen and (max-width: 764px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      120.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 696px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      126.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 632px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      129.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 584px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      132.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 572px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      132.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}
@media screen and (max-width: 550px) {
  .head {
    padding: 0;
    font-size: x-large;
  }

  .imgSlider {
    height: 200px;
    width: 200px;
  }

  .section2 {
    width: 100%;
    height: 60%;
  }
  .img2,
  .img3 {
    display: none;
  }
  .slider {
    width: 100%;
  }
  .section4 {
    height: auto;
  }
  input[name="panel"]:checked ~ .accordion__content.accordion__content--large {
    height: 365px;
  }
  input[name="panel"]:checked ~ .accordion__content.accordion__content--small {
    height: 340px;
  }
  .imgAccordion {
    width: 280px;
    height: 200px;

    border: solid 10px gray;
  }
  .pAccordion {
    color: black;
    padding: 0%;
  }
  .accordion {
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  input[name="panel"]:checked ~ .accordion__content.accordion__content--large {
    text-align: center;
  }
}

@media screen and (max-width: 524px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      135.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 462px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      138.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}
@media screen and (max-width: 458px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      138.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}

@media screen and (max-width: 402px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      142.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}
@media screen and (max-width: 320px) {
  #section5 {
    background-image: -webkit-linear-gradient(
      148.4deg,
      #2b2b2b 50%,
      #6f6f6f 50%
    );
  }
}
